body {
    font-family: "Noto Sans JP", "游ゴシック", "メイリオ", "MS PGothic", Helvetica, Arial, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%;
    height: 100%;
    color:white;
    background-color:#333c5e;/*背景色*/
}
/* 
header, .events, footer {
    padding: 10px;
} */


/*サムネイル画像のサイズ*/
.coverimg{
    border: 1px solid #ccc;
}

#particles-js{ 
    position:fixed;/*描画固定*/
    z-index:-1000;/*描画を一番下に*/
    width: 100%;
    height: 100%;
    background-color:#333c5e;/*背景色*/
}
#wrapper {
    position: relative;
    z-index: 1;
    width: 100%;
    height: auto;
    text-align: center;
    color: #fff;
}

a{
    color: #fff;
}
.exptext{
    font-size: 0.8rem;
}
.linetext span{
    font-size: 0.7rem;
}
.navbar .nav-link {
    margin: 0;
}
.navbar .navbar-brand {
    margin-right: 0;
}

.navbar .d-flex {
    margin-left: 0;
    padding-left: 0;
}
.navbarsetting{
    opacity: 0.9;

}

